<?xml version='1.0' encoding='ISO-8859-1'?><film><title>Spring Breakers</title><poster>https://scdn.nflximg.net/images/6904/22326904.jpg</poster><background>https://scdn.nflximg.net/images/6856/22326856.jpg</background><imdb>tt2101441</imdb><netflix cover='http://cdn1.nflximg.net/images/6915/22326915.jpg' src='http://www.netflix.com/title/70257860' /></film>